.slider {
   bottom: #ccc;
   overflow: hidden;
}

.slideTrack {
   display: flex;
   flex-direction: column;
   height: 100vh;
   // overflow-y: scroll;

   // mobile large
   // @media (max-width: 768px) {
   //    & > .slide {
   //       height: auto !important;
   //    }
   // }
}
